$v0 : 0;
$v100:100%;
$flex8:8.3333334%;
$clrWhite: #ffffff;
$clrBlack:#000000;
$zIndex100:100;
$v15px:15px;

$ElementSizes:'sm','md','lg';

$gutterlength:auto,0.25rem,0.5rem,0.75rem,1rem,1.25rem;
$gutterlengthKeys:auto,1,2,3,4,5;

$colorNames:'primary','secondary','dark','info','warning','danger';

$alignmenetForText:left,right,unset,justify,center;
