@import 'var_main';
fieldset{
   display: block;
   width: initial;
   padding: 1rem;
}
fieldset legend{
   font-size: 20px;
   font-weight: 600;
   padding: $v0 10px;
}
.form-group-inline{
   display: inline-flex;
   flex-direction: row;
}
.form-group{
   display: flex;
   flex: $v0 $v0 $v100;
   flex-direction: column;
}
.form-group label{
   font-size: 17px;
   letter-spacing: 1px;
   padding: 8px $v0;
}
.form-control{
   font-size: 16px;
   padding: 8px;
}
.form-error{
   color: #e74c3c;
}

@media screen and (max-width:767px){
   form{
      padding:30px ;
   }
}
@media screen and (max-width:575px){
   form{
      padding:15px ;
   }
}